<%= simple_form_for [@project, @ticket] do |f| %>
	<div class="row error">
    <%= f.error_messages %>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :title,:required => true, class: "right inline" %>
          </div>
        <div class="large-9 columns">
            <%= f.input :title, label: false %>
        </div> 
      </div>
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :description,:required => true, class: "right inline" %>
          </div>
        <div class="large-9 columns">
            <%= f.input :description, label: false %>
        </div> 
      </div> 
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :priority,:required => true, class: "right inline" %>
        </div>
        <div class="large-9 columns">
            <%= f.input :priority, collection: ['high','medium','low'], selected: 'low', label: false %>
        </div> 
      </div>  
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :state,:required => false, class: "right inline" %>
          </div>
        <div class="large-9 columns">
            <%= f.input :state, collection: ['open', 'closed'], selected: 'open', label: false %>
        </div> 
      </div>                  
      <div class="row">
         <div class="large-9 large-offset-3 columns"> 
          <%= f.submit class: "button small" %>
         </div>
      </div>
      </div>
    </div>
<% end %>