<%= simple_form_for [:admin, @user] do |f| %>
	<div class="row error">
		<%= f.error_messages %>
	</div>
	<div class="large-6 columns">

 		<div class="row collapse">
		  	<div class="large-3 columns">
			    <%= f.label :email,:required => true, class: "right inline" %>
			</div>
			    		
			<div class="large-9 columns">
				<%= f.input :email, :autofocus => true, label: false %><br>
			</div>
	 	</div>
	  	<div class="row collapse">
	  		<div class="large-3 columns">
			    <%= f.label :password,:required => true, class: "right inline" %>
			</div>
		 	<div class="large-9 columns">
		  		<%= f.input :password, :required => true, label: false %>
		 	</div>
	  	</div>
		<div class="row">
 			<div class="large-9 large-offset-3">
		 		<%= f.input :admin, :as => :boolean %>
			</div>

		 </div><br>

	  	<div class="row">
			<div class="large-9 large-offset-3 columns">
				<%= f.submit class: "button small" %>
			</div>
		</div>
	</div>
<% end %>